<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tired of manually having to input your ME 330 lab data into Excel? Use our tool to automatically download a spreadsheet of multiple section's data files, all in one click.">
    <meta name="keywords" content="University, Illinois, UIUC, ME330, ME 330, Lab, Data, ME, 330, me, Me, Mechanical, Engineering, Grainger">
    <meta name="author" content="Chris Raymond-Bertrand">
    <title>ME330 Lab Data Converter</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="static/js/index.js"></script>
    <style>
        textarea{
            min-height: 500px;
        }
    </style>

    <script>
        function modal(){
          fetch('./static/config/modal.json')
          .then(response => response.json())
          .then(data =>{
            
            console.log(data)
            title = data['title'];
            body = data['body'];
            cookie_id = data['id'];

            if(title===undefined){
              console.log('no file')
              return
            }

            title_element = document.getElementById('modal-title');
            body_element =  document.getElementById('modal-body');

            title_element.innerHTML = title;
            body_element.innerHTML = body;

            closing_elements = document.getElementsByClassName('modal-dismiss');
            console.log(closing_elements);
            Array.from(closing_elements).forEach((element) => {
              element.setAttribute('onclick', `set_visited("${cookie_id}")`);
            });

            toggle_modal(cookie_id)
          }
          )
        }
        function toggle_modal(){
            visited = localStorage.getItem(cookie_id)
            
            if(visited != 'true'){
                modalElement = document.getElementById('modal')
                const modal = new bootstrap.Modal(modalElement); 
                modal.show(); 
        }};

        function set_visited(cookie_id){
            localStorage.setItem(cookie_id, true)
        }
    </script>
</head>
<body onload="modal()">
    <div class="container pt-4">
        <!-- ERROR MESSAGE -->
        <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="modal-title"></h1>
                  <button type="button" class="btn-close modal-dismiss" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modal-body">
                  <!-- Lab 3 doesn't require any data to be combined, and due to the formatting of the data provided being different than previous labs, you will receive an error if links to lab 3 data are provided. -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary modal-dismiss" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>

        <h1 class="text-center">ME 330 Text data to Excel file</h1>
        <p>Please consult the "How to use" section to learn about the different methods available.</p>
        <ul class="nav nav-tabs mb-3" id="tab" role="tablist">
            <li class="nav-item">
              <button class="nav-link active" id="url-tab" data-bs-toggle="tab" data-bs-target="#url-tab-pane" type="button" role="tab" aria-controls="url-tab-pane" aria-selected="true">Link method (recommended)</button>
            </li>
            <li class="nav-item">
              <button class="nav-link" id="text-tab" data-bs-toggle="tab" data-bs-target="#text-tab-pane" type="button" role="tab" aria-controls="text-tab-pane" aria-selected="false">Text method</button>
            </li>
          </ul>
          <div class="tab-content" id="tab-content">
            <!-- URL tab-->
            <div class="tab-pane fade show active" id="url-tab-pane" role="tabpanel" aria-labelledby="url-tab" tabindex="0">
                <div id="urlbox-container" class="w-100 mb-3">
                    <div class="urlbox-wrapper mb-2 row w-100 gx-1" id="urlbox-0">
                        <div class="px-1 col-sm-11" >
                            <input type="text"  name="urlbox" class=" px-2 w-100 h-100 mb-2 mb-sm-0" placeholder="Paste the link here...">
                        </div>
                        <div class="px-1 col-sm-1">
                            <button onclick="remove_url_box(0)" class="btn btn-outline-dark w-100">X</button>
                        </div>
                    </div>
                </div>
                <a onclick="add_url_box()">+ add another link...</a><br>
                <button onclick="convert_from_url()" class="btn btn-outline-dark">Convert</button>
            </div>

            <!-- TEXT tab -->
            <div class="tab-pane fade" id="text-tab-pane" role="tabpanel" aria-labelledby="text-tab" tabindex="0">
                <textarea name="textarea" id="main-textarea" class="px-2 w-100 mb-3" placeholder="Paste the text data here..."></textarea>
                <button onclick="convert_from_textbox()" class="btn btn-outline-dark">Convert</button>
            </div>
          </div>
          <p id="err-msg"></p>
        
        

        <h1 class="text-center">How to use:</h1>
        <p>This website works for .txt data files only (.csv files are already excel files) directly from the ME330 lab data website available <a href="https://mtil.illinois.edu/data/Courses/Fall%202023/ME330/">here</a>.</p>
        <h5>Example:</h5>
        <div class="d-flex align-content-center justify-content-center">
            <img src="static/img/img_1.png" alt="Example of compatible files" class="w-100" style="max-width:500px">
        </div>
        <p class="mt-2">Click on the link to access a similar looking page. </p>
        <div class="d-flex align-content-center justify-content-center">
            <img src="static/img/page.png" alt="Example of compatible page" class="w-100">
        </div>
        <p class="mt-2">NOTE: You might get a page with black text on a white background depending on your system settings.</p>
        <h3 class="mt-5">Method #1: Link method (recommended)</h3>
        <div class="d-flex align-content-center justify-content-center">
            <img src="static/img/url_method.png" alt="Illustration of copied link" class="w-100">
        </div>
        <p>Copy the link from the search box, and paste it into the box below the "Link method" option. Click "add another link" to combine multiple tables into a single excel file.</p>
        
        <p>Click on the convert button, and your file should download automatically.</p>
        
        <h3 class="mt-5">Method #2: Text method</h3>
        <p>Click on the "Text method" option at the top of this page.</p>
        <div class="d-flex align-content-center justify-content-center">
            <img src="static/img/table_method.png" alt="Illustration of copied data" class="w-100">
        </div>
        <p class="mt-2">Copy the entire text data from the page, and paste it into the text area below the "Text method" option.</p>
        <p>Click on the convert button, and your file should download automatically.</p>
        <p class="mb-5">NOTE: Failure to copy the entire data may result in the conversion failing and no file being downloaded. If no file starts to download within a few seconds of clicking the convert button, check that the data has been properly copied.</p>
        
        
    </div>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6HV7E05430"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6HV7E05430');
</script>
</body>
</html>